body {
  background-color: #c8eafc;
  height: 98%;
}
.div-home {
  border: 2px solid black;
  margin: 4rem 2rem;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  background-color: #c8eafc;
}

.top-nav {
  display: flex;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

button {
  border: none;
  border-radius: 13px;
  padding: 3px;
}
.btn-reg-home {
  margin-right: 50px;
}
.div-split {
  display: flex;
  align-items: center;
}
.img-div {
  width: 30%;
  margin-right: 190px;
}
.div-login {
  width: 60%;
}

