.div-user-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.title {
  text-align: center;
  width: 30vw;
  background-color: rgb(190, 164, 214);
  padding: 1vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-form-user {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 1vw 1vw;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

.btn-user-login {
  border: 1px solid rgb(172, 171, 171);
  background-color: #2f74c8;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  padding: 20px 50px 20px 40px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  outline: none;
}

label {
  text-align: left;
  margin-left: 6px;
}
